* {
  margin: 0;
}

h1, h2, h3 {
  padding: 50px;
}

h1, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.7em;
  font-weight: 400;
}

h2 {
  font-family: "Stringfellows";
  /*font-family: 'Dancing Script', cursive;*/
  font-size: 7em;
  letter-spacing: .05em;
}

h3 {
  font-size : 6em;
}

.background-img {
  background-image: url("background.jpg");ground.jpg");*/
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.container-title {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}

/*---- Section 2 ----*/

#section2 > img:nth-child(1), img:nth-child(2) {
  width: 100%;
}

.container-core > img:nth-of-type(2), img:nth-of-type(3) {
  width: 30%;
  display: block;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-square {
  display: flex;
  flex-wrap: wrap;
}

.container-square > img {
  width: 49%;
  flex-grow: 1;
  padding: 5px;
}
.container-core {
  /*height: 2000px;*/
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  font-weight: 400;
  text-align: justify;
}
